<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Enviar parámetros del request HTTP GET - URL</title>
</head>
<body>
	<h1>Enviar parámetros del request HTTP GET - URL</h1>
	<ul>
		<li>
			<!-- @{} se usa para rutas --> 
			<a th:href="@{/params/string(texto='Hola Juanito')}">/params/string?texto=Hola
				Juanito</a>
		</li>
		<li>
			<a th:href="@{/params/string(texto='Hola Paquita')}">/params/string?texto=Hola
					Paquita</a>
		</li>
		<li>
			<a th:href="@{/params/mix-params(saludo='¿cómo estás Pepito', numero=7)}">
				/params/mix-params?saludo=Como estas Pepito&numero=7</a>
		</li>
		<li>
			<a th:href="@{/params/mix-params-request(saludo='¿cómo estás Pepito', numero=7)}">
				/params/mix-params?saludo=Como estas Pepito&numero=7</a>
		</li>
	</ul>
</body>
</html>